@mixin media($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin buttonStyles {
  color: var(--background-300);
  font-weight: 800;
  top: 0;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--neon-color);

  span {
    font-size: 2rem;
  }

  @include media(map-get($breakpoints, xl)) {
    span {
      font-size: 3rem;
    }
  }

  &:hover:not(:disabled) {
    color: var(--background-100);
    @include shine-animation(var(--white-color), var(--neon-color));
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: var(--disabled-color);
    border: none;
  }
}

@mixin animatedBg {
  background-color: var(--background-50);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 460 55 '%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23fff' stroke-width='7' opacity='.1'%3E%3Cpath d='M-345 34.5s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 48.3 0 48.3s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 20.7s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 34.5 0 34.5s115-13.8 115-13.8S172.5 6.9 230 6.9s115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8m-920 27.6s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 62.1 0 62.1s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 6.9s57.5-13.8 115-13.8S-115 6.9-115 6.9-57.5 20.7 0 20.7 115 6.9 115 6.9 172.5-6.9 230-6.9 345 6.9 345 6.9s57.5 13.8 115 13.8S575 6.9 575 6.9'/%3E%3Cpath d='M-345-6.9s57.5-13.8 115-13.8S-115-6.9-115-6.9-57.5 6.9 0 6.9 115-6.9 115-6.9s57.5-13.8 115-13.8S345-6.9 345-6.9 402.5 6.9 460 6.9 575-6.9 575-6.9m-920 69s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 75.9 0 75.9s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3C/g%3E%3C/svg%3E%0A"),
  linear-gradient(180deg, var(--background-50) 10%, var(--background-100) 70%, var(--background-300) 100%);
  background-position: 50% 50%;
  animation: background-move 20s infinite linear alternate;
  background-size: 400vw auto, 100% 100%;

  @include media(map-get($breakpoints, md)) {
    background-size: 300vw auto, 100% 100%;
    animation-duration: 30s;
  }

  @include media(map-get($breakpoints, xl)) {
    background-size: 150vw auto, 100% 100%;
    animation-duration: 40s;
  }
}

@keyframes background-move {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: max(100vw, 40em) 0, 0 0;
  }
}

@mixin shine-animation($startColor, $endColor) {
  animation-name: shine;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;

  @keyframes shine {
    0% {
      background: linear-gradient(30deg, $startColor 0%, $endColor 25%);
    }

    25% {
      background: linear-gradient(30deg, $endColor 0%, $startColor 25%, $endColor 50%);
    }

    50% {
      background: linear-gradient(30deg, $endColor 0%, $startColor 50%, $endColor 75%);
    }

    75% {
      background: linear-gradient(30deg, $endColor 0%, $startColor 75%, $endColor 100%);
    }

    100% {
      background: linear-gradient(30deg, $endColor 0%, $startColor 100%);
    }
  }
}
