.inputWrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-top: 1rem;
  position: relative;

  .label {
    display: flex;
    flex-flow: column;
    color: var(--secondary-50);
    width: 100%;

    .input {
      outline: none;
      margin-top: 0.75rem;
      width: 100%;
      height: 3rem;
      border-radius: 2em;
      padding: 0 1.25rem;
      font-size: 1rem;
      border: 2px solid var(--secondary-200);

      &:focus:not(.inputInvalid) {
        border-color: var(--secondary-color);
        box-shadow: 0 0 10px var(--secondary-color);
      }
    }

    .inputInvalid {
      border-color: var(--error-color);
    }
  }

  .errorText {
    color: var(--error-color);
    margin-top: 0.75rem;
    font-weight: 600;
    font-size: 0.75rem;
    position: absolute;
    bottom: -1.5rem;
    left: 1.25rem;
  }
}
