@import "src/app/styles";

.wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  position: relative;

  .input {
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    background: none;
    color: var(--background-300);
    border: none;
    padding: 0 1rem;
    font-weight: 600;

    &::placeholder {
      color: var(--background-100);
      opacity: 0.5;
    }
  }

  .inputInvalid {
    border-color: var(--error-color);
  }

  .errorText {
    padding: 0.5rem 1rem;
    background: var(--error-color);
    border-radius: 0.75rem;
    color: var(--white-color);
    font-weight: 400;
    font-size: 1rem;
    position: absolute;
    bottom: -3rem;
    left: 0.75rem;
  }
}

@include media(map-get($breakpoints, md)) {
  .wrapper {
    .input {
      font-size: 1.15rem;
      padding: 0 1.5rem;
    }

    .errorText {
      font-size: 1.15rem;
      bottom: -3rem;
    }
  }
}

@include media(map-get($breakpoints, xl)) {
  .wrapper {
    .input {
      font-size: 1.35rem;
      padding: 0 2rem;
    }

    .errorText {
      font-size: 1.35rem;
      bottom: -3.5rem;
      left: 1.5rem;
    }
  }
}
