@import "src/app/styles";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

:root {
  --error-color: #f65480; /* Light Crimson */
  --background-50: rgb(119, 104, 250); /* Light Beige */
  --background-100: rgb(108, 25, 164); /* Beige */
  --background-300: rgb(83, 19, 122); /* Darkest Beige */
  --background-400: #0b0026; /* Darkest Beige */
  --text-color: #083838; /* Dark Gray */
  --white-color: rgb(253 244 255); /* White */
  --neon-color: rgb(196, 251, 155);
  --disabled-color: rgb(154, 164, 151);
  --border-radius: 5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

body {
  height: 100dvh;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  @include animatedBg();
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition-duration: 0.001s !important;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

@include media(map-get($breakpoints, md)) {
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.25rem;
  }
}

@include media(map-get($breakpoints, xl)) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
}

*::selection {
  background: var(--neon-color);
}

input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  border-radius: var(--border-radius);
  -webkit-background-clip: text !important;
  background-clip: text !important;
  caret-color: var(--background-400);
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--background-300) !important;
}



