@import "src/app/styles";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary-50: #8DBDD8; /* Light Steel Blue */
  --primary-100: #5B9FBB; /* Steel Blue */
  --primary-200: #2A81A3; /* Darker Steel Blue */
  --primary-300: #005385; /* Darkest Steel Blue */
  --primary-color: #005385; /* Crypto Steel Blue */
  --secondary-50: #F7D794; /* Light Gold */
  --secondary-100: #F3C06B; /* Gold */
  --secondary-200: #EFA73F; /* Darker Gold */
  --secondary-300: #EB8F12; /* Darkest Gold */
  --secondary-color: #EB8F12; /* Crypto Gold */
  --error-color: #FF6B6B; /* Light Crimson */
  --success-color: #4CAF50; /* Crypto Green */
  --warning-color: #FF9800; /* Crypto Orange */
  --info-color: #03A9F4; /* Crypto Blue */
  --background-50: #FFF5E1; /* Light Beige */
  --background-100: #FFEDD0; /* Beige */
  --background-200: #FFDBB8; /* Darker Beige */
  --background-300: #FFC89F; /* Darkest Beige */
  --background-color: #f18e4b; /* Crypto Beige */
  --text-color: #083838; /* Dark Gray */
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-50: #FFEBEE; /* Light Red */
    --primary-100: #FFCDD2; /* Red */
    --primary-200: #EF9A9A; /* Darker Red */
    --primary-300: #E57373; /* Darkest Red */
    --primary-color: #E57373; /* Crypto Red */
    --secondary-50: #2E3E4E; /* Darker Steel Blue */
    --secondary-100: #273540; /* Steel Blue */
    --secondary-200: #1F2B33; /* Darker Steel Blue */
    --secondary-300: #182026; /* Darkest Steel Blue */
    --secondary-color: #182026; /* Crypto Dark Blue */
    --error-color: #FF6B6B; /* Light Crimson */
    --success-color: #4CAF50; /* Crypto Green */
    --warning-color: #FF9800; /* Crypto Orange */
    --info-color: #03A9F4; /* Crypto Blue */
    --background-50: #394240; /* Slate Gray 50 */
    --background-100: #4D555E; /* Slate Gray 100 */
    --background-200: #626C78; /* Slate Gray 200 */
    --background-300: #768590; /* Slate Gray 300 */
    --background-color: #333B45; /* Crypto Slate Gray */
    --text-color: #E0E0E0; /* Light Gray */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  height: 100vh;
  color: var(--text-color);
  background: linear-gradient(
                  to bottom,
                  transparent,
                  var(--background-300)
  ) var(--background-100);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

@include media(map-get($breakpoints, md)) {
    h1 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.25rem;
    }
}

@include media(map-get($breakpoints, xl)) {
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
    }
}
