@import "src/app/styles";

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  flex: 1;
}

@include media(map-get($breakpoints, md)) {
  .wrapper {
    padding: 4rem;
  }
}

@include media(map-get($breakpoints, xl)) {
  .wrapper {
    padding: 6rem;
  }
}
