@import "src/app/styles";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: 6.5rem;
  width: 100vw;
}

@include media(map-get($breakpoints, xl)) {
  .wrapper {
  }
}
