.tableContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  border: 1px solid var(--background-300);
  width: 100%;
  overflow: auto;
  border-radius: 1rem;
}

.tableContent {
  width: 10rem;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addressField {
  width: 15rem;
}

.tableHeader {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%;
}

.tableData {
  background-color: var(--background-100);

  span {
    white-space: nowrap;
  }
}
