@import "src/app/styles";

.tableContainer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  overflow: auto;
  border-radius: 1rem;
  box-shadow: 0 0 10px 2px #000;

  .tableContent {
    width: 12rem;
    padding: 1rem 0.75rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    background: var(--background-400);
  }

  .addressField {
    width: 15rem;
  }

  .tableHeader {
    color: var(--neon-color);
    font-weight: 800;
    width: 100%;
    padding: 1.25rem 0.75rem;
    font-size: 1rem;
  }

  .tableData {
    width: 100%;
    border-top: 2px solid var(--background-300);

    &:last-of-type {
      border-bottom: none;
    }

    span {
      white-space: nowrap;
    }
  }
}

@include media(map-get($breakpoints, md)) {
  .tableContainer {
    .tableContent {
      padding: 1.25rem 1rem;
    }

    .tableHeader {
      padding: 1.5rem 1rem;
      font-size: 1rem;
    }
  }
}
